#**/*/res/values/secrets.xml

#/ .gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/executionHistory



#.gradle/7.3.3/executionHistory/executionHistory.bin

#.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/executionHistory
#
#executionHistory.bin
#
#/Users/elvismarcelo/Desktop/Riden/.gradle/7.3.3/executionHistory/executionHistory.bin.gradle
app/build
app/src/main/res/values/secrets.xml
.gradle
.idea


executionHistory.lock

